.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    font-family: 'Segoe UI', sans-serif;
    z-index: -2;
    position: relative;
}

.splash-title {
    font-size: 2.5rem;
    animation: comeup 1s ease-in-out;
    position: relative;
    bottom: -80px;
}

.splash-subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    animation: comeup 2s ease-in-out;
    position: relative;
    bottom: -70px;
}

.spback {
    position: absolute;
    height: 450px;
    z-index: -1;
    border-radius: 50px;
    animation: comeleft 2s ease-in-out;
    bottom: 155px;
    mix-blend-mode: darken;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes comeleft {
    0% {
        right: 100%;
    }

    100% {
        right: 32%;
    }
}

@keyframes comeup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}