.Carousel-container {
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    scroll-behavior:smooth;
    overflow: hidden;
}
.Carousel-image {
    height: 300px;
    width: 1230px;
    border-radius: 8px;
    transition: 0.5s ease-in-out ;
}
.left-button,
.right-button {
    height: 30px;
    width: 30px;
    position: absolute;
    font-size: x-large;
    background-color:white ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border:0;
}
.left-button{
    right: 2rem;
}
.right-button{
    left: 2rem;
}
.indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #71717193 ;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color:  #848080;
  }
