.footer-container {
    display: flex;
    justify-content: space-evenly;
    background-color:#a9a9a987;
    font-size: small;
    padding: 40px;
}

.list-item{
    height: auto;
    max-width: 250px;
    list-style-type: none;
    margin:20px 12px;
}
.list-item:hover{
    color: red;
}
.footer-start{
    height: 160px;
    min-width: 100%;
    background-image: url("footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:1100px){
    .footer-start{
        background-size: contain;
    }
}