.sort {
    position: relative;
    left: 80%;
    height: 40px;
    width: 175px;
    padding: 10px;
}

.upper_fill {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.con {
    display: flex;
    font-size: larger;
    align-items: flex-end;
}