.catlog{
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: rgba(59, 59, 59, 0.3);
    visibility: hidden;
    opacity: 0;
    
    
}
@media (max-width:1100px) {
    .catlog{
        position: fixed;
        top: 128px;
    } 
}
.catlog-container{
    position: absolute;
    height: 450px;
    width: 86%;
    background-color: white;
    left: 7%;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s ease-in-out;
}



.list-container{
    padding: 0px 20px;
    height: 100%;
    display: flex;
}
@media (max-width:1100px) {
    .list-container{
        overflow: scroll;
    }
}
.list-info{
    display: inline-block;
    width: 25%;
}
.list-info1{ 
    list-style: none; 
}

.info-link,.cate-info-link{
    display: block;
    font-size: 14px;
    line-height: 23px;
    padding-left: 20px;
}
.cate-info-link{
    padding: 13px 0 5px 23px;
    font-weight: 600;
    font-size: 16px;
}
.info-link:hover{
    font-weight: 700;
}

.hrtag{
    height: 1px;
    margin: 10px 20px 0 20px;
    width: 150px;
    background-color: #0000004d;
}