# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Env files
.env
.env.development
.env.production
.env.local

# Logs
logs
*.log
log*.txt

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Vite
frontend/.vite/
