.cart-grid {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 9%; */
    margin: 33px 60px;
    flex-direction: column;
}

.wish {
    height: 34px;
    width: 136px;
    position: relative;
    background-color: #F5F5F5;
    border-bottom: solid 1px #80808061;
    border-top: solid 1px #80808061;
    border-left: solid 1px #80808061;
    border-right: solid 1px #80808061;
    border-radius: 12px;
    cursor: pointer;
    color: deeppink;
    font-size: medium;
}

.cart-card {
    margin-bottom: 50px;
    border-top: 1px solid #80808061;
    border-bottom: 1px solid #80808061;
    border-right: 1px solid #80808061;
    min-height: 216px;
    max-width: 70%;
    display: flex;
}

.details {
    position: relative;
    left: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.remove-button-cart {
    color: black;
    cursor: pointer;
    position: relative;
    height: 34px;
    width: 106px;
    background-color: #F5F5F5;
    border-bottom: solid 1px #80808061;
    border-top: solid 1px #80808061;
    border-left: solid 1px #80808061;
    border-right: solid 1px #80808061;
    border-radius: 12px;
    font-size: medium;
    margin-right: 2px;
}

.cart-summary {
    border: 2px solid #80808061;
    position: absolute;
    top: 32%;
    right: 1%;
    width: 26%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
}

.total {
    position: relative;
    font-weight: 600;
}

.buy-button {
    height: 42px;
    width: 126px;
    font-variant: petite-caps;
    cursor: pointer;
    background: linear-gradient(to right, deeppink, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border: solid 1.5px gray;
    border-radius: 10%;
}

.buy-button:hover{
    border: solid 2px transparent;
    border-image: linear-gradient(to right, deeppink, orange, red) 1;
    border-radius: 10%;
}

.q-button{
        border: 1px solid;
    border-radius: 50%;
    height: 22px;
    width: 13px;
}