.chosen:hover{
    background-color:green;
    color: white;
    border: 2px solid green;
    
}
.new-add:hover{
    background-color: blue;
    color: white;
    border: 2px solid blue;
}
.form{
    width: 514px;
    padding-top: 40px;
}

.in{
    width: 200px;
    height: 24px;
    margin: 10px;
    padding: 5px;
}
.crr{
        height: 40px;
    width: 165px;
    margin: 10px;
}

.select:hover{
     background-color: blue;
    color: white;
    border: 2px solid blue;
}

